.contenedor {
  width: 99vw;
  height: 98vh;
  background: grey;
  border-radius: 1rem;
  display: flex;
  gap: 10px;
}
.caja {
  width: 50%;
  height: 100%;
  background: linear-gradient(purple, white);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caja2 {
  width: 50%;
  height: 100%;
  background: radial-gradient(black, purple, grey);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.3);
}
.intro {
  outline: none;
  height: 5%;
  width: 70%;
}
.none {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  text-decoration: none;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.3);
}
.caja:visited {
  color: black;
  background: radial-gradient(purple, white, purple);
}
.caja:hover {
  background: green;
  color: black;
  background: radial-gradient(purple, white, purple);
}
.caja2:hover {
  background: radial-gradient(white, black);
  color: white;
}
.caja2 input:focus {
  background: linear-gradient(white, crimson);
  color: white;
}
